.center {
    margin: auto;
    width: 99%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.image-size {
    padding: 10px !important;
}

#intro-container {
    padding-top: 70px;
    padding-bottom: 30px;
    height: 100%;
}

.intro-name {
    background-color: white;
    font-size: 15pt;
    font-weight: bolder;
    text-align: center;
    padding: 0;
    margin: 0;
}

#intro-statement {
    font-size: 20pt;
    font-weight: bolder
}

.intro-button {
    width: 150px;
    text-align: center;
    background: none;
    border-color: #2e829d;
    color: #2e829d !important;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    border-width: 2px;
    transition: .25s;
    padding: 1rem 2rem;
    margin-top: 10px;
}

.intro-button:hover {
    color: white !important;
    background-color: #2e829d;
    border-color: white;
}

#intro-btn-container {
    width: max-content;
    margin:auto;
}

@media (max-width: 510px) {
    #intro-btn-container {
        width: min-content !important;
    }
}

#console-main {
    height: -moz-calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: calc(100% - 20px);
    overflow-y: auto;
    color: #e0e0e0;
    background-color: #3b3a3a;
    max-height: 100%;
}

#console-header {
    height: 20px;
    background-color: grey;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.project-card {
    height: 100%;
    width: 100%;
    background-color: #ddd;
}

.image-card {
    max-height: 400px;
    max-width: 400px;
    border: 0;
    margin: auto;
}

.overlay:hover {
    opacity: 70%;
}

.overlay {
    height: 100%;
    width: 94.5%;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: .5s;
    background-color: #4a6b99;
}

.overlay-text {
    padding: 22px;
}

.overlay-title {
    color: white;
    font-weight: bold;
    margin: 0;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
    }
}

.modal {
    padding: 0;
}

.modal-image {
    padding: 35px 25px;
    background-color: #ddd;
}

.modal-close {
    padding: 16px !important;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-explanation {
    font-weight: 400;
}

.modal-image-card {
    width: fit-content;
    width: -moz-fit-content;
    border: 0;
    margin: auto;
}

.modal-video-card{
    max-height: 500px;
    max-width: 800px;
    border: 0;
    margin: auto;
}

.modal-image-size {
    max-height: 500px;
    max-width: 100%;
    margin: auto;
}

.modal-skill-group {
    white-space: nowrap;
    overflow-y: scroll;
    overflow-x: auto;
}

.modal-skill {
    border: none;
    padding: 5px 15px;
}

#console {
    font-size: 13px;
}
.dot {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
.console-input {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Monaco', 'Courier New', sans-serif;
}
.console-output {
    margin-bottom: 10px;
    font-family: 'Monaco', 'Courier New', serif;
    padding-left: 4%;
}
.console-output-2 {
    margin-bottom: 10px;
    font-family: 'Monaco', 'Courier New', serif;
    padding-left: 8%;
}